@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* 
* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*/


.playWindow {
    text-align: center;
    border-radius: 10%;
    border-color: #ebebeb;
    border-style: ridge;
    margin:5%;
}

.playWindow .gamePageHeading{
    margin-bottom: 1em;
}

.playWindow .windowSelector{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.playWindow .windowSelector > button{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

.playWindow .windowSelector > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 20%;
}

#profile .flex img{
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}