@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* 
* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}


#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*/


.leaderboard{

    flex: 50%;
    display: inline-block;
    color: rgb(134, 223, 255);
    background-color: rgb(1, 62, 86);

    font-weight: bold;
    font-size: 200%;
    text-align: center;
    border-bottom: 5px solid gold;

}
.board {
    text-align: center;
    border-color: #ebebeb;
    border-style: ridge;
    margin:5%;
}

.board .leaderboard{
    margin-bottom: 1em;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 1px solid var(--color-light);
    border-radius: 50px;
    padding: .5em 2em;
    background-color: transparent;
    cursor: pointer;
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
    border-radius: 10%;
    border-color: #ebebeb;
    border-style: ridge;
    padding: 15px;
}

#profile .flex .item{
    display: flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 20%;
}

#profile .flex img{
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 1em;
}

.text-dark{
    color: var(--color-dark);
}


.window {
    text-align: center;
    display: inline;
    flex-grow: 1;
}


.window .selector{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.window .selector > p{
    border: 1px solid var(--color-light);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    --color-dark: #2C3131;
    --color-light: #F3F3F2;
}

.window .selector > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.category{
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 10%;
    margin:1%;
    border-color: #ebebeb;
    border-style: ridge;
}


.leaderboardGameContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    flex-direction: row;
    column-gap: 20px;
}

.leaderboardGameCard {
    position: relative;
    width: 300px;
    padding: 20px;
    max-width: 185vw;
    max-height: 20vh;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.993);
}

.leaderboardGameCard > h3 {
    position: absolute;
    bottom: 15px;
    color: rgb(134, 223, 255);
    background-color: rgb(1, 62, 86);
    justify-content: center;
    font-size: 110%;
}

.h1 .h2{
    color: rgb(134, 223, 255);
    background-color: rgb(1, 62, 86);
}

.title{
    color: rgb(134, 223, 255);
    background-color: rgb(1, 62, 86);

    font-weight: bold;
    font-size: 150%;
    text-align: center;
    border-bottom: 5px solid gold;
}

.mainTitle{
    color: rgb(134, 223, 255);
    background-color: rgb(1, 62, 86);

    font-weight: bold;
    font-size: 400%;
    text-align: center;
    border-bottom: 5px solid gold;
}