.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8f8f8f8c;
}


.header__logo{
    height: 100px;
    align-items: center;
    object-fit: contain;
}



.header__icon{
    padding: 0px;
}

